.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
span.required-field {
    color: red;
}
.result {
    margin-top: 25px;
}
p.price {
    font-weight: bold;
    font-size: 3em;
    margin: 0 auto;
    text-align: center;
}